@import './imports.css';

body{
    margin: 0 0;
    width: 100vw;
    height: 100vh;
}

.game {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game > div {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .actions {
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
} */

/* .actions > div {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items:  center;
} */

.player {
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}

.player > div {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
}

.player > div > p {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.winner {
    color: #00ff00;
    font-size: 6em;
}

.old {
    color: #ff0000;
    font-size: 6em;
}