.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: calc(1rem * 0.25) !important;
}

.p-2 {
    padding: calc(1rem * 0.50) !important;
}

.p-3 {
    padding: 1rem !important;
}

.p-4 {
    padding: calc(1rem * 1.5) !important;
}

.p-5 {
    padding: calc(1rem * 3) !important;
}


